In [343]:
i:read0`:test1.txt
i

"467..114.."
"...*......"
"..35..633."
"......#..."
"617*......"
".....+.58."
"..592....."
"......755."
"...$.*...."
".664.598.."

In [344]:
/ work linearly
rl:0N!count first i

/ flatten input
inp:raze i

10

# Part 1

In [345]:
symbols:distinct[inp] except ".",.Q.n
symbols

"*#+$"

In [346]:
/ location of symbols
inp in symbols

00000000000001000000000000000000000010000001000000000001000000000000000000000..

In [347]:
/ area around symbols
/ -(N+1) -N -(N-1)
/   -1    S   1
/  N-1    N   N+1
around:0N!(1-rl;neg rl;neg rl+1;neg 1;1;rl-1;rl;rl+1)

aas:around+\:where inp in symbols
aas
aas:raze aas

-9 -10 -11 -1 1 9 10 11

4  27 34 46 74 76
3  26 33 45 73 75
2  25 32 44 72 74
12 35 42 54 82 84
14 37 44 56 84 86
22 45 52 64 92 94
23 46 53 65 93 95
24 47 54 66 94 96

In [348]:
/ location of numbers
inp in .Q.n

11100111000000000000001100111000000000001110000000000000011000111000000000001..

In [349]:
/ group positions
ln:0N!where inp in .Q.n
gln:(0,where 1<deltas ln) cut ln
gln:gln where 0<count each gln / remove empty
gln

0 1 2 5 6 7 22 23 26 27 28 40 41 42 57 58 62 63 64 76 77 78 91 92 93 95 96 97

0 1 2
5 6 7
22 23
26 27 28
40 41 42
57 58
62 63 64
76 77 78
91 92 93
95 96 97

In [350]:
/ if group contains index of area around symbol - use 
gln in aas

001b
000b
11b
110b
001b
00b
001b
100b
011b
110b

In [351]:
/ select such index groups
gln where any each gln in aas

0 1 2
22 23
26 27 28
40 41 42
62 63 64
76 77 78
91 92 93
95 96 97

In [352]:
/ select numbers
inp gln where any each gln in aas

"467"
"35"
"633"
"617"
"592"
"755"
"664"
"598"

In [353]:
/ part 1
sum "J"$inp gln where any each gln in aas

4361

# Part 2

In [354]:
/ area around gears
aag:around+/:where inp in "*"
aag

4  3  2  12 14 22 23 24
34 33 32 42 44 52 53 54
76 75 74 84 86 94 95 96

In [355]:
/ crossed indexes
pd:0N!tc cross tc:til count gln

/ filter mirror duplicates and self-pairs
pairs:0N!pd where pd[;0]<pd[;1]

(0 0;0 1;0 2;0 3;0 4;0 5;0 6;0 7;0 8;0 9;1 0;1 1;1 2;1 3;1 4;1 5;1 6;1 7;1 8;..
(0 1;0 2;0 3;0 4;0 5;0 6;0 7;0 8;0 9;1 2;1 3;1 4;1 5;1 6;1 7;1 8;1 9;2 3;2 4;..

In [356]:
/ first number in any of gear areas
any each gln[0] in/: aag
/ third number in any of gear areas
any each gln[2] in/: aag
/ both in the same gear area
any all (any each gln[0] in/: aag;any each gln[2] in/: aag)

100b

100b

1b

In [357]:
flip (gln 0 2) in/: 0N!aag

(4 3 2 12 14 22 23 24;34 33 32 42 44 52 53 54;76 75 74 84 86 94 95 96)

001b 000b 000b
11b  00b  00b

In [358]:
/ filter pairs that are more than 4 rows apart - definitely cannot have the same gear
pairs:0N!pairs where {(4*rl)>.[-](max;min)@\:raze gln x} each pairs

(0 1;0 2;0 3;1 2;1 3;1 4;2 3;2 4;2 5;3 4;3 5;3 6;4 5;4 6;4 7;5 6;5 7;5 8;6 7;..

In [359]:
/ part 2
sum {$[any all (any each gln[x 0] in/: aag;any each gln[x 1] in/: aag);prd "J"$inp gln x 0 1;0]} each pairs

467835

# Faster part 2

In [360]:
/ uniquely ID all numbers
id2n:til[count gln]!"J"$inp gln
id2n

0| 467
1| 114
2| 35
3| 633
4| 617
5| 58
6| 592
7| 755
8| 664
9| 598

In [361]:
/ indexes of number digit to unique ID
gln!til count gln

0 1 2   | 0
5 6 7   | 1
22 23   | 2
26 27 28| 3
40 41 42| 4
57 58   | 5
62 63 64| 6
76 77 78| 7
91 92 93| 8
95 96 97| 9

In [362]:
/ single index to unique ID
i2id:raze[gln]!raze (count each gln)#'til count gln
i2id

0 | 0
1 | 0
2 | 0
5 | 1
6 | 1
7 | 1
22| 2
23| 2
26| 3
27| 3
28| 3
40| 4
41| 4
42| 4
57| 5
58| 5
62| 6
63| 6
64| 6
76| 7
77| 7
78| 7
..

In [363]:
/ find all IDs that area around gear intesects with
/ numbers near gear
nng:{x where not null x:distinct i2id x} each aag
nng

0 2
,4
7 9

In [364]:
\ts 0N!sum prd each id2n each nng where 1<count each nng

467835

0 2464