In [322]:
i:read0`:input.txt
i

".............65..................998.........453..............................
"............*..........125.......*...331......*.....................30.76.....
"................942.......*...874...*......407...558............752......*19..
"....+............&.....593...........516............-....=.....*....74........
"....314.750......................497...........258.....549...70.....*....745..
"..........*.......786......283......*366..........*...............899.....*...
"........468..=249..........*..........................866.797*960..........2..
"..386.............582....681...52....$369.+.......969..+......................
".....-......835..@....*....................101.......*.......444...........5..
"...........*.......513.45.125......................883.......*................
"........180.........................891*129..957...........+.584..............
"...................=530.....................*.......610..790........314...$...
"......132-..............#..............$....93.........*...............*...5..
"...36.......#.514%.......99..684.......21.........852.886../...191.....892....
".....*...508................&......615...........$.........964....*...........
".....211.............430...........*.......%..........702.........243..747....
".........................988..570........-..72....726*.................-......
"........&..........#928....&../.......785..............971..585...............
"..165..541......................822........930.........*...%............*737..
"....+...........248..-...40...................*521....897............698......
"..................*...19..%...........674.....................110.............
"................753.....................*..............@.....#....199......3..
..

In [323]:
/ work linearly
rl:0N!count first i

/ flatten input
inp:raze i

140

# Part 1

In [324]:
symbols:distinct[inp] except ".",.Q.n
symbols

"*/-+&=@$%#"

In [325]:
/ location of symbols
inp in symbols

00000000000000000000000000000000000000000000000000000000000000000000000000000..

In [326]:
/ area around symbols
/ -(N+1) -N -(N-1)
/   -1    S   1
/  N-1    N   N+1
around:0N!(1-rl;neg rl;neg rl+1;neg 1;1;rl-1;rl;rl+1)

aas:around+\:where inp in symbols
aas
aas:raze aas

-139 -140 -141 -1 1 139 140 141

13  34  47  81  85  90  103 116 123 167 177 214 233 239 285 298 333 338 344 4..
12  33  46  80  84  89  102 115 122 166 176 213 232 238 284 297 332 337 343 4..
11  32  45  79  83  88  101 114 121 165 175 212 231 237 283 296 331 336 342 4..
151 172 185 219 223 228 241 254 261 305 315 352 371 377 423 436 471 476 482 5..
153 174 187 221 225 230 243 256 263 307 317 354 373 379 425 438 473 478 484 5..
291 312 325 359 363 368 381 394 401 445 455 492 511 517 563 576 611 616 622 6..
292 313 326 360 364 369 382 395 402 446 456 493 512 518 564 577 612 617 623 6..
293 314 327 361 365 370 383 396 403 447 457 494 513 519 565 578 613 618 624 6..

In [327]:
/ location of numbers
inp in .Q.n

00000000000001100000000000000000011100000000011100000000000000000000000000000..

In [328]:
/ group positions
ln:0N!where inp in .Q.n
gln:(0,where 1<deltas ln) cut ln
gln:gln where 0<count each gln / remove empty
gln

13 14 33 34 35 45 46 47 83 84 85 88 89 90 116 117 118 123 124 125 137 138 139..

13 14
33 34 35
45 46 47
83 84 85
88 89 90
116 117 118
123 124 125
137 138 139
163 164 165
177 178 179
208 209
211 212
232 233 234
252 253 254
272 273 274
296 297 298
310 311 312
323 324 325
329 330 331
344 345 346
354 355 356
358 359 360
..

In [329]:
/ if group contains index of area around symbol - use 
gln in aas

10b
110b
111b
111b
111b
100b
100b
000b
001b
100b
00b
01b
110b
001b
000b
111b
001b
001b
001b
100b
100b
011b
..

In [330]:
/ select such index groups
gln where any each gln in aas

13 14
33 34 35
45 46 47
83 84 85
88 89 90
116 117 118
123 124 125
163 164 165
177 178 179
211 212
232 233 234
252 253 254
296 297 298
310 311 312
323 324 325
329 330 331
344 345 346
354 355 356
358 359 360
362 363 364
366 367 368
381 382 383
..

In [331]:
/ select numbers
inp gln where any each gln in aas

"65"
"998"
"453"
"845"
"773"
"307"
"527"
"125"
"331"
"76"
"861"
"298"
"942"
"874"
"407"
"558"
"752"
"196"
"274"
"240"
"345"
"105"
..

In [332]:
/ part 1
sum "J"$inp gln where any each gln in aas

530495

# Part 2

In [333]:
/ area around gears
aag:around+/:where inp in "*"
aag

13  12  11  151 153 291  292  293
34  33  32  172 174 312  313  314
47  46  45  185 187 325  326  327
85  84  83  223 225 363  364  365
90  89  88  228 230 368  369  370
103 102 101 241 243 381  382  383
116 115 114 254 256 394  395  396
123 122 121 261 263 401  402  403
167 166 165 305 307 445  446  447
177 176 175 315 317 455  456  457
214 213 212 352 354 492  493  494
233 232 231 371 373 511  512  513
344 343 342 482 484 622  623  624
413 412 411 551 553 691  692  693
489 488 487 627 629 767  768  769
505 504 503 643 645 783  784  785
571 570 569 709 711 849  850  851
597 596 595 735 737 875  876  877
611 610 609 749 751 889  890  891
635 634 633 773 775 913  914  915
728 727 726 866 868 1006 1007 1008
762 761 760 900 902 1040 1041 1042
..

In [285]:
/ crossed indexes
pd:0N!tc cross tc:til count gln

/ filter mirror duplicates and self-pairs
pairs:0N!pd where pd[;0]<pd[;1]

(0 0;0 1;0 2;0 3;0 4;0 5;0 6;0 7;0 8;0 9;1 0;1 1;1 2;1 3;1 4;1 5;1 6;1 7;1 8;..
(0 1;0 2;0 3;0 4;0 5;0 6;0 7;0 8;0 9;1 2;1 3;1 4;1 5;1 6;1 7;1 8;1 9;2 3;2 4;..

In [286]:
/ first number in any of gear areas
any each gln[0] in/: aag
/ third number in any of gear areas
any each gln[2] in/: aag
/ both in the same gear area
any all (any each gln[0] in/: aag;any each gln[2] in/: aag)

100b

100b

1b

In [287]:
flip (gln 0 2) in/: 0N!aag

(4 3 2 12 14 22 23 24;34 33 32 42 44 52 53 54;76 75 74 84 86 94 95 96)

001b 000b 000b
11b  00b  00b

In [288]:
/ filter pairs that are more than 4 rows apart - definitely cannot have the same gear
pairs:0N!pairs where {(4*rl)>.[-](max;min)@\:raze gln x} each pairs

(0 1;0 2;0 3;1 2;1 3;1 4;2 3;2 4;2 5;3 4;3 5;3 6;4 5;4 6;4 7;5 6;5 7;5 8;6 7;..

In [289]:
/ part 2
sum {$[any all (any each gln[x 0] in/: aag;any each gln[x 1] in/: aag);prd "J"$inp gln x 0 1;0]} each pairs

467835

# Faster part 2

In [334]:
/ uniquely ID all numbers
id2n:til[count gln]!"J"$inp gln
id2n

0 | 65
1 | 998
2 | 453
3 | 845
4 | 773
5 | 307
6 | 527
7 | 541
8 | 125
9 | 331
10| 30
11| 76
12| 861
13| 298
14| 700
15| 942
16| 874
17| 407
18| 558
19| 752
20| 196
21| 274
..

In [335]:
/ indexes of number digit to unique ID
gln!til count gln

13 14      | 0
33 34 35   | 1
45 46 47   | 2
83 84 85   | 3
88 89 90   | 4
116 117 118| 5
123 124 125| 6
137 138 139| 7
163 164 165| 8
177 178 179| 9
208 209    | 10
211 212    | 11
232 233 234| 12
252 253 254| 13
272 273 274| 14
296 297 298| 15
310 311 312| 16
323 324 325| 17
329 330 331| 18
344 345 346| 19
354 355 356| 20
358 359 360| 21
..

In [336]:
/ single index to unique ID
i2id:raze[gln]!raze (count each gln)#'til count gln
i2id

13 | 0
14 | 0
33 | 1
34 | 1
35 | 1
45 | 2
46 | 2
47 | 2
83 | 3
84 | 3
85 | 3
88 | 4
89 | 4
90 | 4
116| 5
117| 5
118| 5
123| 6
124| 6
125| 6
137| 7
138| 7
..

In [337]:
/ find all IDs that area around gear intesects with
/ numbers near gear
nng:{x where not null x:distinct i2id x} each aag
nng

,0
1 16
2 17
3 22
4 23
,24
5 13
6 25
8 27
9 28
11 20
12 30
19 39
33 44
29 48
41 42
35 51
36 47
,37
40 56
46 61
54 55
..

In [340]:
\ts:100 0N!sum prd each id2n each nng where 1<count each nng

80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814
80253814

31 28944