In [3]:
i:read0`:test1.txt
colN:count first i
rowN:count i
i

"...#......"
".......#.."
"#........."
".........."
"......#..."
".#........"
".........#"
".........."
".......#.."
"#...#....."

In [70]:
/ rows cols
idx2dup:where@'(all';all)@\:i="."
idx2dup

32 56 62 66 69 72 76 136
37 62 65 69 75 77 80 83 90 115 123

# Part 1

In [71]:
/ duplicate rows
di:i raze {$[x in y;2#x;x]}[;idx2dup 0] each til rowN
/ duplicate cols
di:di[;raze {$[x in y;2#x;x]}[;idx2dup 1] each til rowN]
di

"...........................#.......#......................#...................
"...................................................#..........................
"........#.....................................#...............................
"..............................................................................
"#...................#........................................#................
"...............#..............................................................
".........................................................#....................
"...............................................#.......................#......
".............................#......#.........................................
".......................#............................#.........................
".....#........................................................................
"...........#......#..................................................#........
"..............................................................................
"..............................#.........................#.....................
"..................................................#..........#................
"........#.................................#...................................
".........................#....................................................
"............#.................................................................
"....................#.........................................................
".............................................#.............#..................
"..............................#.....#.........................................
"#.........#.........................................#.............#...........
..

In [72]:
/ galaxy locations
g:raze til[count di](,/:)'0N!where each di="#"
g

(27 35 58 78 123 139;51 103 145;8 46 89 115;,130;0 20 61;15 95 108 120 135;57..

0 27
0 35
0 58
0 78
0 123
0 139
1 51
1 103
1 145
2 8
2 46
2 89
2 115
3 130
4 0
4 20
4 61
5 15
5 95
5 108
5 120
5 135
..

In [73]:
/ unique unordered pairs
gp:g lc where .[<] flip lc:l cross l:til count g
gp

0 27  0 35
0 27  0 58
0 27  0 78
0 27  0 123
0 27  0 139
0 27  1 51
0 27  1 103
0 27  1 145
0 27  2 8
0 27  2 46
0 27  2 89
0 27  2 115
0 27  3 130
0 27  4 0
0 27  4 20
0 27  4 61
0 27  5 15
0 27  5 95
0 27  5 108
0 27  5 120
0 27  5 135
0 27  6 57
..

In [74]:
/ part 1 - sum of sum of absolute coordinate differences
sum {sum abs x-y}.'gp

9370588

# Part 2

In [54]:
/ original galaxy locations
g:0N!raze til[count i](,/:)'where each i="#"

(0 3;1 7;2 0;4 6;5 1;6 9;8 7;9 0;9 4)

In [55]:
/ reversed to easily expand later
idx2dup:reverse@'where@'(all';all)@\:i="."
idx2dup

7 3
8 5 2

In [56]:
/ expand by N
N:10
ge:{{.[x;(where x[;z]>y;z);+;N-1]}[;;y]/[x;idx2dup y]}/[g;0 1]
ge

0  12
1  25
2  0
13 24
14 1
15 36
26 25
27 0
27 13

In [57]:
gp:ge lc where .[<] flip lc:l cross l:til count ge
sum {sum abs x-y}.'gp

1030

In [61]:
/ combined
N:1000000
g:raze til[count i](,/:)'where each "#"=i:read0`:input.txt
idx2dup:reverse@'where@'(all';all)@\:i="."
ge:{{.[x;(where x[;z]>y;z);+;N-1]}[;;y]/[x;idx2dup y]}/[g;0 1]
gp:ge lc where .[<] flip lc:l cross l:til count ge
sum {sum abs x-y}.'gp

746207878188